# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Testing
.pytest_cache/


# ZIP files
*.zip

# Virtual environments and environment files
.env
.venv/
venv/
env/
denv/

# DB and dataset files
*.db
olist.db
dataset/

# IDEs and editors
.vscode/
.idea/

# Other files
*.log
*.cache
.DS_Store          # MacOs
Thumbs.db          # Windows